<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.clubcubtesting">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".EditProfileActivity"
            android:parentActivityName=".HomepageActivity"></activity>
        <activity
            android:name=".ChangePasswordActivity"
            android:parentActivityName=".HomepageActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity"
            android:parentActivityName=".LoginActivity"/>
        <activity android:name=".HomepageActivity" />
        <activity android:name=".CreateClubActivity"
            android:parentActivityName=".HomepageActivity"/>
        <activity android:name="EditClubDetailsActivity"
            android:parentActivityName=".ClubMainActivity"/>
        <activity android:name=".ClubMainActivity"
            android:parentActivityName=".HomepageActivity"/>
    </application>

</manifest>